
/*  loading cloud component */
#loadingCloudContainer{
    position: fixed;
    background-color: #37373a67;
    height: 100%;
    z-index: 99;
    opacity: 1;
    width: 100%;
    left: 0;
    top: 0;
}
#loadingCloudImg{
    position: relative;
    display: block;
    width: 200px;
    margin: auto;
    height: auto;
    top: 30%;
    z-index: 100;
}

/******* GOOGLE OAUTH BUTTON **************/

.google-btn {
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 5px 0 rgba(11, 216, 38, 0.767);
    margin:auto;
    cursor: pointer;
}


/***** FOOTER *********/
footer {
    margin: 2rem auto 0 auto;
    height: auto;
    min-height: 3rem;
    background: #17a2b8;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-family: 'Texturina';
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}